* {
    padding: 0;
    margin: 0;
}
body {
    font-family: '배달의민족 주아';
    font-size: 14px;
    color: #444444;
}
li {
    list-style-type: none;
}
.clear {
    clear: both;
}
header {
    width: 1140px;
    height: 100px;
    margin: 0 auto;
}#logo {
    float: left;
    margin: 20px 0 0 20px;
}
#menus {
    float: right;
}
#top_menu {
    text-align: right;
    margin-top: 20px;
}
#main_menu {
    margin-top: 20px;
    font-size: 20px;
    color: black;
}
#main_menu li {
    display: inline;
    margin-left: 80px;
}
#main_img {
    width: 100%;
    height: 300px;
    background-image: url(wf_hd.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}
#contents {
    width: 1140px;
    margin: 0 auto;
}
#sub_menu {
    width: 234px;
    float: left;
    margin-top: 25px;
}
#sub_menu h3{
    font-size: 18px;
    color: rgb(245, 237, 99);
    padding: 12px;
    background-color: #000000;
}
#sub_menu li{
    padding: 10px;
    border-bottom: dotted 1px #cccccc;
}
a {
    text-decoration-line: none;
}
a:link {
color : rgb(105, 105, 105);
text-decoration: none;
}

    a:hover {
    color : rgb(107, 115, 224);
    text-decoration: underline;
    }
#main_contents {
    width: 880px;
    float: right;
    margin-top: 25px;
}
#main_contents h3 {
    font-size: 22px;
    padding-bottom: 8px;
    border-bottom: solid 1px #cccccc;
}
#main_contents p {
    margin-top: 30px;
    line-height: 180%;
}
#main_contents #figure {
    margin-top: 30px;
    text-align: left;
}
#main_contents img {
    width: 30%;
}
#main_contents il {
    padding: 5px;
}
footer {
    width: 100%;
    height: 150px;
    margin-top: 30px;
    background-color:  #273475;
}
#footer_box {
    width: 1140px;
    height: 150px;
    margin: auto;
}
#footer_logo {
    float: left;
    margin: 50px 0 0 30px;
}
#address {
    float: right;
    margin: 50px 30px 0 0;
    color: rgb(171, 178, 191);
}
#gray {
    color: rgb(11, 23, 194);
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    header {
        width: 100%; 
    }
    #main_img {
        width: 100%;
    }
    #main_menu li {
        margin-left: 20px;
        font-size: small; 
    }
    #main_contents {
        width: 100%;
        font-size: small;
    }
    #main_contents img {
        width: 100%; 
    }
}
